<!-- templates/accounts/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/commonLayout}">

<head>
<meta charset="UTF-8">
<title>アカウント編集</title>
</head>
<body>
  <div layout:fragment="content">
    <h1 class="mb-4">アカウント編集</h1>

    <form class="mb-3 row g-2" th:action="@{/accounts/edit/{id}(id=${accountForm.id})}" method="post" th:object="${accountForm}">
      <input type="hidden" th:field="*{id}" />

      <div class="col-4">
        <label for="username" class="form-label">ユーザー名</label>
        <input type="text" th:field="*{username}" class="form-control" id="username" maxlength="50" required>
        <th:block th:with="fieldName='username'">
          <div th:if="${#fields.hasErrors(fieldName)}" th:errors="*{username}" class="text-danger"></div>
        </th:block>
        <div class="form-text">※50文字以内</div>
      </div>

      <div class="col-4">
        <label for="password" class="form-label">パスワード</label>
        <input type="password" th:field="*{password}" class="form-control" id="password" minlength="8" maxlength="20">
        <th:block th:with="fieldName='password'">
          <div th:if="${#fields.hasErrors(fieldName)}" th:errors="*{password}" class="text-danger"></div>
        </th:block>
        <div class="form-text">※8文字以上、20文字以内</div>

        <div class="col-4">
          <label for="role" class="form-label">権限</label> <select th:field="*{role}" class="form-select" id="role" required>
            <option value="USER">一般</option>
            <option value="ADMIN">管理者</option>
            <th:block th:with="fieldName='role'">
              <div th:if="${#fields.hasErrors(fieldName)}" th:errors="*{role}" class="text-danger"></div>
            </th:block>
          </select>
        </div>

        <div class="col-4">
          <label for="fullName" class="form-label">氏名</label>
          <input type="text" th:field="*{fullName}" class="form-control" id="fullName" maxlength="100" required>
          <th:block th:with="fieldName='fullName'">
            <div th:if="${#fields.hasErrors(fieldName)}" th:errors="*{fullName}" class="text-danger"></div>
          </th:block>
          <div class="form-text">※100文字以内</div>
        </div>

        <div class="col-8">
          <button type="submit" class="btn btn-primary">登録</button>
          <a class="btn btn-secondary" th:href="@{/accounts}">戻る</a>
        </div>
      </div>
    </form>
  </div>
</body>
</html>