<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>見積書一覧</title>
</head>

<body>
    <h1>見積書一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>見積番号</th>
                <th>件名</th>
                <th>作成者</th>
                <th>作成日</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estimate : ${estimateList}">
                <td th:text="${estimate.id}"></td>
                <td th:text="${estimate.estimateNumber}"></td>
                <td th:text="${estimate.title}"></td>
                <td th:text="${estimate.createdBy}"></td>
                <td th:text="${estimate.createdAt}"></td>
                <td>
                    <div class="d-flex">
                        <form th:action="@{/estimates/{id}}" method="get">
                            <input type="hidden" name="id" th:value="${MEstimate.id}">
                            <input type="submit" value="詳細" class="btn btn-success btn-sm" />
                        </form>
                        <form th:action="@{/updateTodo}" method="get">
                            <input type="hidden" name="id" th:value="${MEstimate.id}">
                            <input type="submit" value="編集" class="btn btn-warning btn-sm" />
                        </form>
                        <form th:action="@{/confirmDelete}" method="get">
                            <input type="hidden" name="id" th:value="${MEstimate.id}">
                            <input type="submit" value="削除" class="btn btn-danger btn-sm" />
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <form th:action="@{/estimates/create}" method="get">
        <input type="submit" value="新規作成" class="btn btn-warning btn-sm" />
    </form>


</body>

</html>