<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/commonLayout}">

<head>
    <title>見積書一覧</title>
</head>

<body>
    <div layout:fragment="content">

        <!-- メッセージ表示 -->
        <form th:action="@{/estimates}" method="get" class="row g-2 align-items-center mb-4">
            <div class="col">
                <div th:if="${message != null and !#strings.isEmpty(message)}">
                    <div th:class="'alert ' + (${messageType} == 'error' ? 'alert-danger' : 'alert-success')"
                        th:text="${message}"></div>
                </div>
            </div>

            <!-- タイトル -->
            <div class="col text-center">
                <h1>見積書一覧</h1>
            </div>
            <!-- 検索フォーム -->
            <div class="col-auto d-flex gap-2">
                <input type="text" class="form-control" name="searchWords" th:value="${searchWords}"
                    placeholder="見積番号、件名、顧客名" />
                <button type="submit" class="btn btn-primary" style="white-space: nowrap;">検索</button>
                <!-- 新規作成ボタン -->
                <a class="btn btn-success" th:href="@{/estimates/create}" style="white-space: nowrap;">新規作成</a>
            </div>
        </form>

        <!-- 見積書一覧テーブル -->
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>見積番号</th>
                    <th>件名</th>
                    <th>顧客名</th>
                    <th>担当者</th>
                    <th>更新日</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="estimate : ${estimatesList}">
                    <td th:text="${estimate.estimateNumber}"></td>
                    <td th:text="${estimate.title}"></td>
                    <td th:text="${estimate.clientName}"></td>
                    <td th:text="${estimate.fullname}"></td>
                    <td th:text="${estimate.createdAt}"></td>
                    <td>
                        <a th:href="@{|/estimates/detail/${estimate.id}|}" class="btn btn-outline-primary btn-sm">詳細</a>
                        <a th:href="@{|/estimates/edit/${estimate.id}|}" class="btn btn-outline-secondary btn-sm">編集</a>
                        <a th:href="@{|/estimates/confirmDelete/${estimate.id}|}"
                            class="btn btn-outline-danger btn-sm">削除</a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(estimatesList)}">
                    <td colspan="5" class="text-center">見積書がありません</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>