<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.kenchiku_estimator.repository.AccountMapper">

    <!-- 見積書のマッピング -->
    <select id="findAll" resultType="com.kenchiku_estimator.model.MAccount"> 
        SELECT * FROM accounts </select>

    <select id="findAllFullName" resultType="com.kenchiku_estimator.model.MAccount"> 
        SELECT fullname
        FROM accounts </select>

    <select id="findById" parameterType="int" resultType="com.kenchiku_estimator.model.MAccount">
        SELECT * FROM accounts WHERE id = #{id} </select>

    <insert id="insert" parameterType="com.kenchiku_estimator.model.MAccount"> 
        INSERT INTO accounts
        (account_number, title, created_by, created_at) VALUES (#{accountNumber}, #{title},
        #{createdBy}, #{createdAt}) </insert>

    <update id="update" parameterType="com.kenchiku_estimator.model.MAccount"> 
        UPDATE accounts SET
        title = #{title}, created_by = #{createdBy}, created_at = #{createdAt} WHERE id = #{id} </update>

    <delete id="delete" parameterType="int"> 
        DELETE FROM accounts WHERE id = #{id} </delete>

</mapper>