<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.kenchiku_estimator.repository.EstimateItemMapper">

    <!-- 見積書アイテムのマッピング -->

    <!-- 見積書アイテムを新規作成 -->
    <select id = "createEstimateItem" parameterType="com.kenchiku_estimator.form.EstimateItemForm" resultType="com.kenchiku_estimator.model.MEstimateItem">
        INSERT INTO estimate_items (estimate_id, item_name, unit_price, quantity, unit)
        VALUES (#{estimateId}, #{itemName}, #{unitPrice}, #{quantity}, #{unit})
    </select>

    <!-- 該当の見積書アイテムを取得する -->
    <select id="findByEstimateId" resultType="com.kenchiku_estimator.model.MEstimateItem">
        SELECT * FROM estimate_items 
        WHERE estimate_id = #{id}
    </select>

    <!-- 見積書アイテムの削除をする -->
    <delete id="deleteEstimateItem" parameterType="int">
        DELETE FROM estimate_items 
        WHERE estimate_id = #{estimateId}
    </delete>

</mapper>
